<section class="cartas-servicios">
    {{#each cartaData}}
    <div class="carta-servicio">
        <div class="izquierda">
            <div class="img-servicio">
                <img src={{this.imgLink}} alt="imagen {{this.titulo}}">
            </div>
        </div>
        <div class="derecha">
            <div class="titulo-servicio" data-i18n="servicios.{{@index}}.titulo">
                {{this.titulo}}
            </div>
            <div class="body-servicio">
                <p class="" data-i18n="servicios.{{@index}}.descripcion">{{this.descripcion}}</p>
            </div>
            <div class="footer-servicio">
                <div class="btn-servicio">
                    <a href="cotizaciones.html?boton={{this.titulo}}">Solicitar Cotización</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>