<div class="testimonial-card">
  <img src="{{imagen}}" alt="Foto de {{nombre}}" class="testimonial-img">
  <p class="testimonial-text">“{{testimonio}}”</p>
  <p class="testimonial-nombre">{{nombre}}</p>
  <p class="estrellas">{{{estrellas}}}</p>
</div>

